*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}
body {
    background-color: #f7f7f7;
}
.atm-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.atm-container h2 {
    margin-bottom: 30px;
    font-family: "Oswald", sans-serif!important;
}
.btn {
    margin: 10px;
}